<div class="step1-section">
  <form #firstStepForm="ngForm">
    <h1>Step 1: Choose your Model and Color</h1>
    <div class="pageDetails">
      <div class="form-group">
        <label for="modelSelect">Model:</label>
        <select #modelSelect name="modelSelect" id="modelSelect" [(ngModel)]="carDetails.model" (change)="onCarModelChange(modelSelect.value)">
          <option disabled selected value="">Choose..</option>
          <option *ngFor="let model of modelList" [value]="model.code">{{model.description}}</option>
        </select>
      </div>
      <ng-container *ngIf="carDetails.model">
        <div class="form-group">
          <label for="colorSelect">Color:</label>
          <select #colorSelect name="colorSelect" id="colorSelect" [(ngModel)]="carDetails.color" (change)="onCarColorChange(colorSelect.value)">
            <option disabled selected value="">Choose..</option>
            <option *ngFor="let color of selectedModel?.colors" [value]="color.code">{{color.description}}</option>
          </select>
        </div>
      </ng-container>
    </div>
    <div class="form-group">
      <img id="carImage" class="imageCss" [src]="imgURL">
    </div>
  </form>
</div>
